# Large binary files (Database)
faiss_index.bin
documents.pkl
papers_zip.zip
llm_wiki_h200/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.ipynb_checkpoints/

# Logs and temp
*.log
response_time.txt
temp/
temp_full_text.txt
test_agent.log
test_agent_filter.log

# FAISS work files
vector_db_index/

# OS
.DS_Store
.idea/
.vscode/
